{% extends "core/base.html" %}
{% block content %}
<h2>Create Account</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3"><input class="form-control" name="first_name" placeholder="First Name" required></div>
    <div class="mb-3"><input class="form-control" name="last_name" placeholder="Last Name" required></div>
    <div class="mb-3">
        <select name="gender" class="form-select" required>
            <option value="">Select Gender</option>
            <option>Female</option>
            <option>Male</option>
            <option>Other</option>
        </select>
    </div>
    <div class="mb-3">
        <input list="collegeList" name="school" class="form-control" placeholder="School / University" required>
        <datalist id="collegeList">
          {% for college in colleges %}
            <option value="{{ college }}">
          {% endfor %}
        </datalist>
      </div>
      
    <div class="mb-3"><input class="form-control" name="dob" type="date" required></div>
    <div class="mb-3"><input class="form-control" name="email" placeholder="Email" type="email" required></div>
    <div class="mb-3"><input class="form-control" name="password" placeholder="Password" type="password" required></div>
    <button class="btn btn-primary">Sign Up</button>
</form>
{% endblock %}

